// -> COLORS
$color-off-black: #20222B;
$color-off-white: #A5AFD7;
$color-body-back: #333745;
$color-purple: #8357C5;
$color-blue: #3C4251;
$color-light-blue: #464B5E;

// -> SPACINGS
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// -> QUERY WIDTHS
$bp-xs: 17.5em;
$bp-sm: 25em;
$bp-md: 50em;
